.nav-links > .nav-item {
  font-size: 20px !important;
}

.nav-links > .title {
    font-size: 20px !important;
}
.nav-dropdown {
    font-size: 17px !important;
}

.theme-default-content {
    max-width: 1000px !important;
}