@import "~vuetify/dist/vuetify.min.css"
.nav-links > .nav-item {
  font-size: 20px !important;
}

.dropdown-title > .title {
    font-size: 20px !important;
}
.dropdown-item {
    font-size: 17px !important;
}

.theme-default-content {
    max-width: 1000px !important;
}