.nav-links > .nav-item {
  font-size: 20px !important;
}

.dropdown-title > .title {
  font-size: 20px !important;
}

.dropdown-item {
  font-size: 17px !important;
}

.theme-default-content, #disqus_thread {
  max-width: 100% !important;
  margin-right: 10% !important;
  margin-left: 10% !important;
}

a {
  text-decoration: none !important;
}

h2 {
  margin-bottom: 0.5rem !important;
}

@media (max-width: 1350px) {
  .theme-default-content, #disqus_thread {
    margin-right: 5% !important;
    margin-left: 5% !important;
  }
}

.w-100 {
  width: 100%;
}

.w-95 {
  width: 95%;
}

.w-90 {
  width: 90%;
}

.h-100 {
  height: 100%;
}

.theme-default-content:not(.custom) > *:first-child {
  margin-top: 0;
  padding-top: 0 !important;
}

.page-nav {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  width: 90%;
  max-width: none !important;
}

.page-edit {
  padding: 0 !important
}

a.sidebar-link {
  font-size: 1em;
  font-weight: 400;
  display: inline-block;
  color: #2c3e50;
  border-left: .25rem solid transparent;
  padding: .35rem 1rem .35rem 1.25rem;
  line-height: 1.4;
  width: 100%;
  box-sizing: border-box;
}

.my_home {
  margin-top: 2rem !important;
}

.content__default h3, h4 {
  margin-bottom: 5px !important;
}

pre[class*="language-"] {
  margin-top: 30px !important;
}

// post 사진
.post-card-img {
  left: 50% !important;
  width: auto !important;
  transform: translate(-50%);
}